
@font-face{
	font-family: Code;
	src: url("CODELight.otf") format("opentype");
}

@font-face{
	font-family: CodeB;
	font-weight: bold;
	src: url("CODE Bold.otf") format("opentype");
}

body {
	margin:0;
	padding: 0;
	
	font-size: 16px;
	position:relative;
	overflow: hidden;
}

@media only screen and (orientation:portrait){body{font-size: 8px;}}

.cont {
	position:relative;
	overflow:hidden;
}

 .page-top{
	padding:0;
	margin: 0;
	width: 100%;
	padding-top: 1em;
	padding-bottom:0%;
	min-height: 8%;
	background-color: rgba(0,0, 0, .3);
	box-shadow:0px 10px 10px rgba(0,0, 0, .8);
	position:absolute;
	z-index:1;
	float:left;
	
}

 .page-top .title{
	padding-left: 5%;
	width: 95%;
	padding-bottom: 0%;
	margin: 0;
	color: white;
	font-family: CodeB;
	letter-spacing: 8px;
	font-size: 250%;
	min-height: 5%;

}


 .page-top nav#page-nav{
	padding-top:2%;
	min-height: 5%;
	width: 100%;
	font-size: 200%;
	background-color: rgba(52,50, 58, 0);
}

@media only screen and (orientation:portrait){ .page-top nav#page-nav {padding-top:3.5%;min-height:3.5%;}}

 .page-top nav#page-nav ul{
	margin: 0;
	display: inline-block;
	width: 95%;
}

 .page-top nav#page-nav ul li{
	display: inline-block;
	padding-left: 5%;
	
}

 .page-top nav#page-nav ul li .nav-button{
	font-family: CodeB;
	position: relative;
	text-decoration: none;
	color: rgba(255,255,255, .7);
	transition: .1s all;
	display: block;
}

 .page-top nav#page-nav ul li .nav-button:hover{
	color: cyan;
	cursor: pointer;
}

 .page-top nav#page-nav ul li .nav-button:before{
	position: absolute;
	content:'';
	top: 145%;
	left: 50%;
	width: 0%;
	height: 10%;
	transition: .3s all;
}

 .page-top nav#page-nav ul li .nav-button:hover:before{
	width: 50%;
	left: 25%;
	background-color: cyan;
	box-shadow:0px 0px 8px cyan;
}

 .page-top nav#page-nav ul li .nav-button:after{
	position: absolute;
	content:'';
	top: 175%;
	left: 50%;
	width: 0%;
	height: 10%;
	transition: .3s all;
}

.page-top nav#page-nav ul li .nav-button:hover:after{
	width: 100%;
	left: 0%;
	background-color: cyan;
	box-shadow:0px 0px 8px cyan;
}
@media only screen and (orientation:portrait){.foooter  {min-height:10.5%;}}

.footer{
	padding-left: 12.5%;
	margin: 0;
	width: 100%;
	min-height:15%;
	position:absolute;
	top: 85%;
	background-color: rgba(0,0,0,.2);
	box-shadow:0px 0px 10px black;
	z-index: 3;
	display: inline-block;

}

.footer .foot-ele {
	padding-top: 2%;
	font-size: 100%;
	display: inline-block;
	width: 25%;
	min-height: 100%;
	text-align: center;
	
	color: rgba(255,255,255, .4);
	font-family: CodeB;
	letter-spacing: 8px;
	font-size: 150%;
	
	vertical-align: top;
}

.footer .foot-ele .content {
	margin: 0;
	width: 100%;
	text-align: center;
	font-size: 8px;
	padding-top: 5%;
}


.footer .foot-ele .content a img{
	vertical-align: middle;
	width: 95px;
}